@import "../layout/header";

div.slider-section {
  p {
    text-align: center;
    width: 65%;
    margin: 30px auto;
    line-height: 2rem;
    font-size: 25px;
    padding: 10px;
  }
  div.slider {
     padding: 10px;
     margin: 0 auto 30px;
     overflow: hidden;
    .imgs {
      list-style: none;
      width: 100% * 3.1;
      padding: 0 0 0 4%;
      li {
        float: left;
        width: calc(100% / 3);
        img{
          width: 90%;
          height: 50vh;
        }
      }
    }
  }
  div.bullets {
    ul {
      list-style: none;
      width: 112px;
      margin: auto;
      padding: 0;
      li {
        float: left;
        width: 20px;
        height: 20px;
        border: 2px solid;
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
        &:hover {
          background: #000;
        }
      }
    }
  }
}